<a href="https://colab.research.google.com/github/toz015/USTSV/blob/master/HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1
Write python to generate a fibonacci sequence up to number n (n is a parameter of integer.

In [2]:
def fib_f(n):
  if not n:
    return []
  if n == 1:
    return [1]
  lst = [0 for i in range(n)]
  lst[0] = 1
  lst[1] = 1
  for i in range(2, n):
    lst[i] = lst[i - 1] + lst[i - 2]
  return lst

In [5]:
#example
fib_f(5)

[1, 1, 2, 3, 5]

### Q2
Write a class to help a school to look up students and their rooms.

1.   Student list is a csv file that you need to read in. sample file attached.
2.   Loop waiting/prompt for the user to input the student name. If a student exists, tell which room. Else try again.
3.   When user input 'exit', the program exits the loop.

In [7]:
#@title import packages
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials


auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [8]:
import pandas as pd
import numpy as np

In [11]:
# import dataset
link = 'https://drive.google.com/open?id=1nvFcwXCmbCi-PrY09JlNTlcWUiDMMjjx'
fluff, id = link.split('=')
file = drive.CreateFile({'id':id}) # replace the id with id of file you want to access
file.GetContentFile('studentlist.txt')  
df = pd.read_table('studentlist.txt', sep= ",", header  = None)
df.head(3)

         0   1
0   andrew   7
1     dave   9
2  patrick  10

In [13]:
df.columns = ['Student', 'Room']
df.head(3)

   Student  Room
0   andrew     7
1     dave     9
2  patrick    10

In [34]:
set(df['Student'].tolist())

{'andrew', 'dave', 'eric', 'luk', 'patrick', 'tony'}

In [62]:
class school:
  def __init__(self, df):
    self.total_student = dict(zip(df["Student"], df["Room"]))
    
  def find_room(self, name):
    if name in self.total_student:
      return  self.total_student[name]
    else:
      print("No record")
  
  
def main(df):
  temp = school(df)
  while True:
    g = input("Enter: ")
    if g == "exits":
      break
    else:
      print(temp.find_room(g))

In [63]:
main(df)

Enter: andrew

7