<a href="https://colab.research.google.com/github/toz015/USTSV/blob/master/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
#@title import package
import numpy as np
import pandas as pd

Review:

frame.apply(function)


a | b | c | d| e
---| --- | --- | --- | --- |
1 | 3 | 3 | 9 | abcd
4 | 8 | 2 | 9 | cabd
9 | 7 | 3 | 4 | cdba


Give a dataframe of abcd, Try to generate column e, to have the column sorted list.

In [28]:
df = pd.DataFrame(data = np.array([1, 3, 3, 9, 4, 8, 2, 9, 9, 7, 3, 4]).reshape(3, 4), columns = ["a", "b", "c", "d"])

In [29]:
def sort_line(lst):
  lst2 = ["a", "b", "c", "d"]
  dic = dict(zip([0, 1, 2, 3],lst))
  dic = {k: v for k, v in sorted(dic.items(), key=lambda item: item[1])}
  value = ""
  for key, val in dic.items():
    value += lst2[key]
  return value

In [30]:
df['e'] = df.apply(lambda x: sort_line(x), axis=1)

In [31]:
df

   a  b  c  d     e
0  1  3  3  9  abcd
1  4  8  2  9  cabd
2  9  7  3  4  cdba